$colorPrimary : #48cae4;




@media screen and (min-width : 992px) {
    header {
        .navbar-nav {
            gap: 50px;
        }
    }
    .nav-link--hover {
        border-top: transparent solid 1px;
        &:hover {
            border-top: solid $colorPrimary 1px;
        }
    } 
    .hero-title {
        width: 50%;
        left: 35%;
    }
}
@media screen and (max-width : 991px) {
    .hero-title {
        width: 55%;
        left: 40%;
    }
}
.separator-dot{
    width: 20px;
    height: 20px;
    background-color: $colorPrimary;
    border-radius: 50%;
    border: 5px solid #fff;
}

.div-dots {
    border: 2px lightgray solid;
    border-radius: 50%;
    position: relative;
    color: $colorPrimary;
    animation: 3s linear infinite running animatedLoop;
    &::after {
        display: block;
        position: absolute;
        content: "";
        background-color: $colorPrimary;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: -5px;
    }
    .dots {
        animation: 3s linear infinite running animatedLoopReverse;
    }
}

@keyframes animatedLoop {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes animatedLoopReverse {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}


